button {
    font-size: 40px; /* Adjust as needed */
    text-align: center;
    color: #c2c2c2; /* Dark gray */
    margin-top: 270px;
    /* transition: font-size 0.5s ease-in-out; */
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin-left: 500px;
    color: blue;
    &:hover{
        cursor: pointer;
    }
    /* &:hover{
        cursor: pointer;
        font-size: 80px;
    } */
}
body{
    background-color: rgb(54, 19, 250);
}
